.header {
	width: 0 auto;
	max-width: 1000px;
	color: wheat;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: #5555557b;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow-x: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container {
	width: 0 auto;
	max-width: 1000px;
	overflow-x: auto;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: #5555557b;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	/* transition: opacity 0.5s ease, transform 0.5s ease;
	opacity: 1;
	transform: translateX(0); */
}

/* deprecated animation, use folded container instead. */
/* .container.hidden {
	opacity: 0.01;
	transform: translateX(-50px);
} */

.container a.custom-link {
	color: wheat;
	/* 链接颜色 */
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	/* 去除下划线 */
	margin: 0 5px;
	/* 链接之间的间距 */
	flex: 1;
	overflow-x: auto;
	background-color: #5555557b;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	min-width: fit-content;
	text-align: center;
	white-space: nowrap;
	transition: background-color 0.3s ease;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-select: none;
}

@media (hover: hover) {
	.container a.custom-link:hover {
		background-color: #3535357b;
	}
}


.container a.custom-link:active {
	background-color: #8f8f8f7b;
	transform: translateY(5px);
}

/* @media (max-width:600px) or (max-height:600px) {
	.container a.custom-link {
		font-size: 16px;
		padding: 5px;
	}
} */

body {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;  */
	font-family: 'Courier New', Courier, monospace;
	font-size: clamp(14px, 2vw, 20px);
	margin: 0;
	padding: 20px;
	background-color: whitesmoke;
	overflow: hidden;
}

.button-list {
	margin: 2px auto;
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	/* 可选：使用滚动对齐 */
	scroll-padding: 50px;
	/* 可选：增加滚动区域的额外空间 */
	align-items: center;
	/* 新增：垂直居中 */
}

.button-list button {
	margin: 1px auto;
	margin-left: 5px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #cc8500;
	border: none;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	text-shadow:
		0 0 2px rgba(0, 0, 0, 0.7),
		0 0 4px rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s;
	cursor: pointer;
	flex: 0 0 auto;
	/* Flex项不伸缩 */
	margin-right: 10px;
	/* 按钮之间的间距 */
	/* 可选：为按钮添加滚动对齐 */
	scroll-snap-align: start;
	transition: background-color 0.3s ease;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-select: none;
}

@media (hover: hover) {
	.button-list button:hover {
		background-color: #ac7000;
	}
}

.button-list button:active {
	background-color: #ffa600;
}

.button-list button:disabled {
	background-color: #666;
	opacity: 0.6;
	user-select: none;
}

input[type="checkbox"]:disabled {
	content: " ";
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}

footer {
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-top: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
	pointer-events: none;
}

/* deprecated */
footer.hidden {
	opacity: 0;
}

footer a {
	color: #333;
	/* 链接颜色 */
	text-decoration: none;
	/* 去除下划线 */
	margin: 0 5px;
	/* 链接之间的间距 */
	pointer-events: auto;
}

@media (hover: hover) {
	footer a:hover {
		color: #000;
		/* 鼠标悬停时的链接颜色 */
	}
}

.copyright {
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	opacity: 0.9;
}

.textbox {
	width: fit-content;
	max-width: 300px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	/* margin-bottom: 10px; */
	resize: none;
	background-color: #888;
	caret-color: wheat;
	color: black;
}

.textbox:focus {
	outline: none;
	border-color: #acacac;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.textbox::selection {
	background-color: #888;
	/* 选中文字的背景颜色 */
	color: white;
	/* 选中文字的颜色 */
}

.custom-select {
	max-width: 300px;
	padding: 8px;
	font-size: 16px;
	color: wheat;
	border: 1px solid #acacac;
	border-radius: 5px;
	background-color: #888;
	appearance: auto;
	cursor: pointer;
	transition: border-color 0.3s ease, background-color 0.3s ease;
}

.custom-select:hover {
	border-color: #cacaca;
	background-color: #999;
}

.custom-select:focus {
	outline: none;
	border-color: #acacac;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.custom-select option {
	padding: 10px;
	font-size: 14px;
	color: wheat;
	background-color: #888;
}



/* 滚动条整体样式 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	/* 滚动条的宽度与高度 */
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
	background: #5555557b;
	/* 滚动条轨道的背景颜色 */
	border-radius: 3px;
	/* 滚动条轨道的圆角 */
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
	background: #555;
	/* 滚动条滑块的颜色 */
	border-radius: 3px;
	/* 滚动条滑块的圆角 */
}

/* 鼠标悬停在滚动条滑块上时的样式 */
::-webkit-scrollbar-thumb:hover {
	background: #424242;
	/* 鼠标悬停时的颜色 */
}

.folded-container {
	max-height: 0;
	transition: max-height var(--folded-container-expanded-transition-time-max-height, 0.5s) cubic-bezier(0.68, -0.6, 0.32, 1.8),
		padding-top var(--folded-container-expanded-transition-time-padding-top-bottom, 0.6s) cubic-bezier(0.68, -0.6, 0.32, 1.8),
		padding-bottom var(--folded-container-expanded-transition-time-padding-top-bottom, 0.6s) cubic-bezier(0.68, -0.6, 0.32, 1.8);
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
}

.folded-container.expanded {
	max-height: var(--folded-container-expanded-max-height, 250px);
	padding-top: 15px;
	padding-bottom: 15px;
}

.global-hidden {
	display: hidden;
}