/* banner.css */
:root {
  --banner-slide-in-duration: 1s;
  --banner-slide-out-delay: 3s;
  --banner-slide-out-duration: 1s;
  --banner-background-color: #ff4d00;
  --banner-color: white;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: min-content;
    background-color: var(--banner-background-color);
    color: var(--banner-color);
    text-align: center;
    padding: 10px 0;
    display: none;
    /* 初始时隐藏 */
    animation: slideIn var(--banner-slide-in-duration) forwards, 
               slideOut var(--banner-slide-out-duration) var(--banner-slide-out-delay) forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}