/* banner.css */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: min-content;
    background-color: #ff4d00;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: none;
    /* 初始时隐藏 */
    animation: slideIn 1s forwards, slideOut 1s 3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}