#popup {
	position: absolute;
	top: 30vh;
	left: calc(max(10vw, (100vw - 600px) / 2));
	z-index: 10;
	width: 80vw;
	max-width: 600px;
}

.popup-hidden {
	display: none;
}

.popup-content {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	background-color: #555555f6;
	border: 1px solid #888;
	padding: 15px;
	border-radius: 5px;
	
}

.popup-close {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	cursor: pointer;
	color: wheat;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
	opacity: 0.6;
	text-decoration: none;
}

#popup li {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	color: wheat;
}

#popup hr {
	color: wheat;
	border-style: solid;
	margin-top: 2px;
	margin-bottom: 2px;
}